@font-face{
  font-family: 'glamore';
  src: url("../font/Glamore.otf");
}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
}

body.home {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  header {
    height: auto;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    font-family: 'glamore';
    letter-spacing: 5px;
  }
  
  h1 {
    font-size: 60px;
    margin: 0;
  }
  
  h2 {
    font-size: 20px;
    margin: 0;
  }
  
  nav {
    text-align: center;
    background-color: #dfe5ef;
    padding: 10px 0;
    font-family: 'glamore';
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  main {
    height: 100vh;
    background-image: url('../images/group_pic.jpg');
    background-size: cover;
    background-position: center;
    transition: ease-in-out 1s;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
  }
  
  .social-media {
    list-style: none;
    font-family: 'glamore';
    margin: 0;
    padding: 0;
  }

  .social-media i{
    margin: 0 5px;
  }
  
  .social-media li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  