@font-face{
    font-family: 'glamore';
    src: url("../font/Glamore.otf");
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.gallery {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.member{
    width: 23%;
}

div.member img {
    width: 100%;
    height: auto;
}

div.title {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Glamore';
    text-align: center;
}

.hidden {
    display: none;
}